@font-face {
	font-family: 'Whitney';
	src: url("../fonts/Whitney-Book.otf") format("opentype");
}

@font-face {
	font-family: 'Whitney';
	font-weight: 500;
	src: url("../fonts/Whitney-Medium.otf") format("opentype");
}

@font-face {
	font-family: 'Whitney';
	font-weight: 600;
	src: url("../fonts/Whitney-Semibold.otf") format("opentype");
}

@font-face {
	font-family: 'Whitney';
	font-weight: bold;
	src: url("../fonts/Whitney-Bold.otf") format("opentype");
}

body {
	font-family: 'Whitney';
	-webkit-font-smoothing: antialiased;
}

.scroll-arrow {
    margin: 150px auto 0px;
    text-align: center;
    animation: scroll 5s ease-in-out infinite;
}

.arrow-text{
	display: inline-block;
    animation: blink 5s ease-in-out infinite;
}

@keyframes scroll {
	0%, 100% {
		transform: translateY(1rem);
	}
	50% {
		transform: translateY(-1rem);
	}
  }

section.section-1 h1 {
	color: #002F49;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	padding-top: 20px;
}

section.section-1 h3 {
	color: #002F49;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
}

.title {
	font-family: 'Georgia';
	position: relative;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	position: relative;
	max-width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.scene.is-active p {
	background-color: none;
}

.scene p {
	background-color: none;
}

.article-wrapper p {
	font-family: 'Georgia';
	padding: 0;
	font-size: 20px;
	line-height: 32px;
}

.article-wrapper {
	max-width: 800px;
	margin: auto
}

.content-wrapper, body {
	position: relative;
	min-height: 100%
}

.scroller {
	position: relative;
	margin-bottom: 50px
}

.scroll-graphic {
	position: -webkit-sticky;
	position: sticky;
	height: 100vh;
	top: 0;
}


.scene {
	transform: translateZ(0);
	min-height: 100vh;
	transition: opacity .3s ease;
}

.chart-wrapper {
	max-width: 920px;
	margin: 10px auto;
}

.chart-wrapper .chart {
	height: 450px;
	width: 100%
}

.chart-wrapper2 {
	max-width: 1200px;
	margin: 50px auto;
}

.chart-wrapper2 .chart2 {
	height: 600px;
	width: 100%
}

.article-wrapper.scroller-text {
	max-width: 450px;
	padding: 5px 20px;
	background-color: hsla(0, 0%, 100%, .85);
	box-shadow: 1px 1px 5px -3px rgba(0, 0, 0, .5);
	text-align: left;
	transition: all 1s ease;
}

.img-responsive {
	width: 100%;
}

#main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.tick line {
	opacity: 0;
}

.tick text{
	font-size: 11.5px;
	font-family: 'Whitney';
}

.x-axis,
.y-axis {
	font-family: 'Whitney';
}

.blue{
	color:'#266fa5' !important;
}

.orange{
	color:'#f0562c' !important;
}

.purple{
	color:'#75436a' !important;
}

.red{
	color:'#b53c36' !important;
}

.gray{
	color:'#6d6e70' !important;
}

.green{
	color:'#39673b' !important;
}

.yellow{
	color:'#e9c67f' !important;
}

a:hover{
	transition: all 1s ease;
}


@media only screen and (min-width:661px) and (max-width:920px) {
	section.section-1 h1 {
		font-size: 36px;
		top: 5vh;
	}
	section.section-1 h3 {
		top: 5vh;
		font-size: 18px;
	}
	.title {
		max-width: 70%;
	}
	.subtitle {
		max-width: 50%;
	}
	.article-wrapper p {
		font-size: 18px;
		line-height: 26px;
	}
}

@media only screen and (max-width:660px) {
	section.section-1 h1 {
		font-size: 30px;
		top: 5vh;
	}
	section.section-1 h3 {
		top: 5vh;
		font-size: 16px;
	}
	.title {
		max-width: 90%;
	}
	.subtitle {
		max-width: 60%;
	}
    .article-wrapper.scroller-text{
		padding: 10px 20px;
		max-width: 400px;
	}
    .scene {
		min-height: 200vh
	}
	.chart-wrapper .chart {
		height: 350px;
		width: 100%
	}

	.article-wrapper p {
		font-size: 16px;
		line-height: 24px;
	}

}

#loading {
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: .3;
	background-color:white;
	z-index: 99;
  }

  #loadWrapper{
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: none;
	z-index: 99;

  }

  #loading-image {
	position: relative;
	margin-left: calc(50vw - 80px);
	margin-top: calc(50vh - 80px);
	z-index: 100;
	opacity: 1;
  }

  #loading {
	width: 100%;
	text-align: center;
	height: 100%;
  }

